<!DOCTYPE html>
<html>
  <head>
    <title>Predict App</title>
  </head>
  <body>
    <h1>Predict</h1>
	<form>
	        <fieldset>
	          <legend>SPORT</legend>
	             <select id = "sport">
	               <option value = "1">one</option>
	               <option value = "2">two</option>
	               <option value = "3">three</option>
	               <option value = "4">four</option>
	             </select>
	        </fieldset>
	</form>
	<br>

	<table width="100%">
  <tr>
    		<td>	          
    			<legend>Team 1</legend>

	             <select id = "team1">
	               <option value = "1">one</option>
	               <option value = "2">two</option>
	               <option value = "3">three</option>
	               <option value = "4">four</option>
	             </select>
			</td>
    		<td>	         
    			 <legend>Team 2</legend>
	             <select id = "team2">
	               <option value = "1">one</option>
	               <option value = "2">two</option>
	               <option value = "3">three</option>
	               <option value = "4">four</option>
	             </select>
			</td>
  </tr>
</table>


  </body>
</html>